body{
    font-family: serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.header{
    height: 50px;
    width: 60%;
    border: 3px black solid;

    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    input{
        width: 100%;
    }
    .timer{
        font-size: 2em;
        align-self: center;
    }
    button{
        min-width: 50px;
    }

}
.stats{
    height: 50px;
    padding: 0 0 10px 0;

    display: flex;
    justify-content: space-between;
    span{
        align-self: center;
    }
}


.main{
    min-height: 400px;
    width: 60%;
    border: 3px black solid;

    padding: 10px 20px 10px 20px;
    p{
        font-size: 1.5em;
        margin: 0;
    }

}
table{
    width: 100%;
    border: 3px black solid;
    tr:nth-child(even){
        background:lightgray;
    }
}