body{
}
.header{
    border: 3px black solid;
    height: 30px;
    margin: 20px 0 20px 0;
    display: flex;
    padding: 10px 20px 10px 20px;
    justify-content: flex-end;
    input{
        width: 100%;
    }
}
.main{
    border: 3px black solid;
    height: 400px;
    padding: 10px 20px 10px 20px;
}
table{
    border: 3px black solid;
    width: 100%;
}